body {
    background-color: rgb(82, 82, 82);
}
.card {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    background-color: green;
    width: 100px;
    height: 60px;
    border-radius: 5px;
}
.card:hover {
    background-color: aquamarine;
}